*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    font-family: "Fira Sans", sans-serif;
 
}
h1,h2,h3{
    color: darkorange;

}

.container{
    background-color: darkslategrey;
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
    
}
img{
    height: 150px;
    border: 3px solid tomato;
    border-radius: 50%;
    border-style: ridge;
    float: left;
}
.bio{
    float: left;
    padding: 30px;
    padding: 30px;
}
.contact{
    float: right;
    padding: 30px;
}

.contact a{
   padding: 30px;
   text-decoration: none;
   color: tomato;
   font-weight: bold;
   font-size: 20px;
   
}
.contact a:hover{
    text-decoration: underline;
    color: aquamarine;
     
 }


 hr{
    border: 3px solid darkolivegreen;
    margin: 10px;
    margin-bottom: 0px;
 }
 .clear{
    clear: both;
 }

 /* mmmmmmmmmmmmmmmmmmmmmmm */

 #section{
    padding: 20px;
 }

 .information1{
   
float: left;
padding: 40px;

width: 30%;

 }

 .information2{
    float: right;
   max-width: 600px;
    padding: 20px;
    color: aquamarine;
 }

 /* //////////////////////// */
.education{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}

 .education1{
    float: left;
    width: 30%;
    padding: 30px;
 }

 
 .education2{
    float: left;
    width: 30%;
    color: aquamarine;
 }

 .education3{
    float: right;
    width: 30%;
    color: aquamarine;
 }

 /* ????????????? */

 footer{
    background-color: black;
    width: 95%;
    /* height: 200px; */
    margin: 20px;
   
    text-align: center;
    padding: 10px;
    
 }
 .link a{

color: aliceblue;
text-decoration: none;
font-size: 30px;
padding: 20px;
 }

 a{





 }
 h3{
    margin-top: 20px;
    t
 }